:root {
  --bg-main: #0b1020;
  --bg-card: #111827;
  --bg-secondary: #151d31;

  --blue-primary: #2d7dff;
  --blue-light: #4ea1ff;
  --cyan: #26d7e8;

  --green: #25e28a;
  --red: #ff5c7c;

  --text-primary: #ffffff;
  --text-secondary: #a7b2d0;
  --text-muted: #6e7895;

  --border: rgba(255, 255, 255, 0.06);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    #5f6987,
    #4a5575
  );

  min-height: 100vh;

  font-family:
    Inter,
    system-ui,
    sans-serif;

  color: var(--text-primary);

  padding: 20px;
}

.dashboard-container {
  width: 95%;
  min-height: 90vh;

  margin: auto;

  background: var(--bg-main);

  border-radius: 32px;

  padding: 24px;

  box-shadow:
    0 20px 60px rgba(0,0,0,0.45),
    inset 0 1px 0 rgba(255,255,255,0.03);
}

.dashboard-title {
  font-size: 2rem;
  font-weight: 700;

  margin-top: 20px;
  margin-bottom: 20px;
}

.kpi-card {
  background: var(--bg-card);

  border: 1px solid var(--border);

  border-radius: 24px;

  padding: 20px;

  min-width: 220px;

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.03);
}

.kpi-card h3 {
  color: var(--text-secondary);

  font-size: 0.95rem;

  margin-bottom: 10px;
}

.kpi-card p {
  font-size: 2rem;
  font-weight: 700;

  color: var(--text-primary);
}

.kpi-grid {
  display: grid;

  grid-template-columns:
    repeat(4, 1fr);

  gap: 20px;

  margin-bottom: 30px;
}